<div class="row text-center">
  <div class="span12">
    <h1>Popular Users</h1>
    <p class="lead">Most active users</p>
    <br>
    <%= render partial: 'users/user', collection: @users %>
    <%= will_paginate @users %>
  </div>
</div>