<div class="hero-unit">
  <h1>Welcome to Link Share!</h1>
  <p>Link Share is an application where people can post, vote on, share and save links and comments.</p>
  <p>Create an account today to start voting on popular topics and posts!</p>
</div>