<div class="hero-unit">
  <h1>Welcome to Idea Share!</h1>
  <p>Idea Share is an application where people can post, vote on, share, and save ideas.</p>
  <p>Create an account today to start voting on popular topics and posts!</p>
</div>