<div class="hero-unit">
  <h1>Link Share</h1>
  <p>Link Share is a resource for sharing links with your friends!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>
</div>

<div class="row">
  <div class="span4">
    <h2>Share links with friends!</h2>
    <p>Have some cool information or links to websites/apps that you think more people should know about? Share them here and invite your friends to view them!</p>
  </div>
  <div class="span4">
    <h2>Create your free account today!</h2>
    <p>Anyone can view the various topics and posts without an account. However, if you want to help and voice your own opinions by voting, favoriting, or sharing links, you will need your free account. So hurry up! It only take about 30 seconds to register and confirm your account.</p>
  </div>
  <div class="span4">
    <h2>Get Noticed!</h2>
    <p>The better content you share, the higher it will be rated! Anyone can view the "Popular" link at the top of the screen to view the hottest and most active posts! The more votes you get, the higher you climb on the list. So get sharing right now!</p>
  </div>
</div>