<h1 class="text-center">New Post</h1>
<br>
<div class="row">
  <div class="span4">
    <h3>Guidelines for new posts:</h3>
    <ul>
      <li>Make sure content is appropriate.</li>
      <li>Some other guideline.</li>
      <li>One more guideline.</li>
      <li>The last guideline.</li>
    </ul>
  </div>
  <div class="span8 text-center">
    
    <%= render partial: 'form', locals: { topic: @topic, post: @post } %>

  </div>
</div>
