<div class="row">
  <div class="span12">
    <h1 class="text-center">Popular</h1>
    <p class="lead text-center">Active posts this week</p>
  </div>
</div>
<br>
<div class="row"> 
  <div class="span6 col-centered">
    <%= render partial: 'posts/post', collection: @posts %>
    <%= will_paginate @posts %>
  </div>
</div>